.labelFont {
    font-size: 1.6rem;
}

#test {
    margin-left: 60px;
}

body {
    background-image: url("../images/joblisting.jpg");
}

#rec-Board {
    overflow-y: scroll;
}
#event-board {
    overflow-y: scroll;
}

#qoL-Board {
    overflow-y: scroll;
}