.card {
   
   
    position: relative;
    top: 249px;
    width: 56%;
    margin: auto;
    margin-top: -20%;
    left: -274px;
}


/* .submit {
    top: 96px;
    position: relative;
    height: 42px;
    
} */


.card-divider {
   /* margin: 25px; */
   height: 225px;
   padding: -10px;

}

.jobsDiv {
  
    height: 476px;
    width: 24%;
    background-color: orange;
    position: absolute;
    left: 56%;
}

.eventful {
    width: 56%;
    height: 250px;
    background-color: yellow;
    position: absolute;
    top: 377px; 
}

.ridb {
    height: 150px;
    width: 80%;
    position: absolute;
    top: 550px;
    background-color: white;
}



.labelFont {
    font-size: 1.8rem;
}

#test {
    margin-left: 60px;
}

body {
    background-image: url("../images/joblisting.jpg");
}

#qoL-Board {
 /*   height: 150px;
    width: 80%;
    text-align: center;
    background-color: white;
    visibility: hidden; */
}

.sidebar {
    background-color: black;
    width: 20%;
    height:100%;
    position: absolute;
    right: 0px;
    top: 0px;
    border-style: solid;  
}

.mapsDiv {
    height: 250px;
    width: 24%;
    background-color: blue;
}